<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>There has been an error...</h1>
    <h3><%= err.status %></h3>
    <h3><%= err.message %></h3>
    <h4>Someone please call 911</h4>
</body>
</html>